@{
}

<h1>Appointments</h1>

@{
    ViewData["Title"] = "Appointments";
}

@model List<Appointment>

<h4>Here the list of appointmnets. Please edit, and mark completed when you have completed the task.</h4>
<br />
<br />
<br />


<div class="row-fluid">
    <div class="center">
        <h1>Temple appointments</h1>
        <br />
    </div>
</div>



<div class="row">
    @*This is for the UPCOMING appointments table*@
    <div class="col center">
        <h4 class="quadrant">Upcoming</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Name</td>
                    <td>Group Size</td>
                    <td>Date</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    if (x.Completed == false)
                    {
                        <tr>
                            <td>@x.Name</td>
                            <td>@x.Size</td>
                            <td>@x.DateTime</td>
                            <td>@x.Email</td>
                            <td>@x.Phone</td>
                            <td><a href="">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />

    @*This is for the COMPLETED appointments table*@
    <div class="col center">
        <h4 class="quadrant">Completed</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Name</td>
                    <td>Group Size</td>
                    <td>Date</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    if (x.Completed == true)
                    {
                        <tr>
                            <td>@x.Name</td>
                            <td>@x.Size</td>
                            <td>@x.DateTime</td>
                            <td>@x.Email</td>
                            <td>@x.Phone</td>
                            <td><a href="">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

