@{
}

<h1>Temple Appointments</h1>

@{
    ViewData["Title"] = "Appointments";
}

@model List<Appointment>

<h4>Here is list of appointmnets. Please edit, and mark completed when the appointment is completed.</h4>
<br />

<div class="row">

    @*This is for the UPCOMING appointments table*@
    <div class="col center">
        <h4 class="quadrant">Upcoming</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Name</td>
                    <td>Group Size</td>
                    <td>Date</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    if (x.Completed == false)
                    {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Size</td>
                    <td>@x.DateID</td>
                    <td>@x.Email</td>
                    <td>@x.Phone</td>
                    <td class="text-center">
                        <form method="get" asp-action="Edit">
                            <input type="hidden" name="appid" value="@x.AppId" />
                            <button type="submit" class="btn btn-sm ">Edit</button>
                        </form>
                    </td>
                    <td class="text-center">
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="appid" value="@x.AppId" />
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />

<div class="row">

    @*This is for the COMPLETED appointments table*@
    <div class="col center">
        <h4 class="quadrant">Completed</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Name</td>
                    <td>Group Size</td>
                    <td>Date</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    if (x.Completed == true)
                    {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Size</td>
                    <td>@x.DateID</td>
                    <td>@x.Email</td>
                    <td>@x.Phone</td>
                    <td class="text-center">
                        <form method="get" asp-action="Edit">
                            <input type="hidden" name="appid" value="@x.AppId" />
                            <button type="submit" class="btn btn-sm ">Edit</button>
                        </form>
                    </td>
                    <td class="text-center">
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="appid" value="@x.AppId" />
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>



